.filters {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 80%;
    gap: 20px;
}

select {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    width: 30%;
}

.search {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 1rem;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

.search input {
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
}